<!DOCTYPE html>

<html xmlns:th="http://localhost">

  <head>
    <title>Ref Scheduler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

    <div>Hello World!</div>
    <a href="/games" th:href="${endpoints.get('games')}">Games</a>

    <a href="/affiliations" th:href="${endpoints.get('affiliations')}">Affiliations</a>

    <a href="/timeslots" th:href="${endpoints.get('timeslots')}">Timeslots</a>

    <a href="/teams" th:href="${endpoints.get('teams')}">Teams</a>

    <a href="/scheduling" th:href="${endpoints.get('scheduling')}">Scheduling</a>

    <a href="/persons" th:href="${endpoints.get('persons')}">Persons</a>
  </body>
</html>