<!DOCTYPE html>

<html xmlns:th="http://localhost">

  <head>
    <title>Ref Scheduler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

    <div>Teams!</div>

    <table class="teams table">
      <th:block th:each="team : ${teams}">
        <tr class="team row">
          <th class="id cell" th:text="${team.get('id')}">id</th>
          <th class="name cell" th:text="${team.get('name')}">Team Name</th>
          <th class="location cell" th:text="${team.get('location')}">Team Location</th>
        </tr>
      </th:block>
    </table>
  </body>
</html>